.rectangle {
	width: 45px;
	height: 15px;
	margin-top: 8px;
	margin-right: 8px;
}

.orange {
	background-color: orange;
}
.blue {
	background-color: blue;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.white {
	background-color: white;
}

.soundBar {
	display: inline-block;
}

.soundBarsContainer {
	margin-left: auto;
	margin-right: auto;
}