.rectangle {
	width: 50px;
	height: 15px;
	margin: 5px;
}

.blue {
	background-color: blue;
}

.red {
	background-color: red;
}

.green {
	background-color: green;
}

.white {
	background-color: white;
}

.soundBar {
	display: inline-block;
}