form {
	display: block;
	margin: 0 auto;
	width: 35vw;

	& h2 {
		text-align: center;
	}
	
	label {
		text-transform: uppercase;
		display: block;
		text-align: left;
	}

	input, textarea, label {
		width: 100%;
	}

	textarea {
		min-height: 200px;

	}

	& div {
		padding: 5px;
	}

}	

@media @smartphones, @tablets {
	
	form {
		width: 50vw;
	}

}